{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='drf-angular'>
    <head>
        <title>Let's get djangular</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link rel='stylesheet' href="{% static 'css/main.css' %}">
    </head>
    <body>

        <div ui-view></div>

        <script src="{% static 'js/angular.js' %}"></script>
        <script src="{% static 'js/angular-ui-router.js' %}"></script>
        <script src={% static 'js/main.js' %}></script>
        <script src={% static 'js/routes.js' %}></script>
        <script src={% static 'js/controllers.js' %}></script>
        <script src={% static 'js/services.js' %}></script>
    </body>

</html>